.navbar{
  width:100%;
    background-color: khaki;
vertical-align: middle;
  padding-left: 10px;
}

.backbtn{
  background-color: darkolivegreen;
  height:100%;
  width:50px;
  color: #fff;
  font-size:2em;
}

.forwardbtn{

  height:100%;
  width:50px;
  background-color: darkolivegreen;
  color: #fff;
  font-size:2em;
}

.path{

vertical-align: 20%;
border: inset lightseagreen;
  background-color: white;
  width:80%;
  color: #000;
  font-family: "Sitka Banner";
  margin-left: 5px;
}
